# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker


trigger:
  branches:
    include:
      - main

pool:
  name: Default  
stages:
- stage: CI
  displayName: Flask CI Pipeline

  jobs:

  # ---------------- BUILD JOB ----------------
  - job: Build
    displayName: Install Dependencies

    steps:
    - checkout: self

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
      displayName: Install Dependencies


  # ---------------- TEST JOB ----------------
  - job: Test
    displayName: Run Tests
    dependsOn: Build   # equivalent to needs: build

    steps:
    - checkout: self

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest
      displayName: Install Dependencies Again

    - script: pytest
      displayName: Run Tests