name: Build and Push to ACR
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/my-app:latest .
      
      - name: Push image to ACR
        run: |
          # Authenticate Docker to ACR
          az acr login --name ${{ secrets.ACR_NAME }}
          # Push the image to ACR
          docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/my-app:latest
